<h1>Meals</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Category
      </th>
      <th>
        title
      </th>
      <th>
        Date
      </th>
      <th>
        Username
      </th>
      <th>
        Description
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render @meals %>
  </tbody>
</table>